.collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 98%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: white;
  }
  
  .content {
  
      
    padding: 0 17px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .modal-header {
    color:white;
    background:linear-gradient(90deg, #0d274c, #1c53a3);
        
     }
     .close{

      color:white;
      }
      .btn-black{
        background-color: #1c53a3 ;
        color: #fff;
    }

    .close2{

      color:#0d274c;
      }