
<link rel="shortcut icon" href="/static/image/QICON.ico" type="image/x-icon" /> 

<link rel="stylesheet"  href="/static/jquery-bootstrap/bootstrap.min.css"  id="bootstrap-css">
<script src=" /static/jquery-bootstrap/bootstrap.min.js"></script>
<script src="/static/jquery-bootstrap/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/login/login.css" >
<!------ Include the above in your HEAD tag ---------->
<title>Q-MatePro</title>
<div  class="sidenav">
         <div class="login-main-text">
            <h1><font size="36">Q-MatePro</font><br> Login Page</h1>
            <p>Login or register from here to access.</p>
            
         </div>
         <div id="copyright-container">
               
   
               <div id="copyrightMsg">Copyright © 2019 ABCD Services <br>
                  Entry to this site is restricted to employees and affiliates.
               </div>
            </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form method="POST" action="/">
                  <div class="form-group">
                     <label>Select Project</label>
                     <select class="form-control" name="proj_select" >
                           {% for i in Scrums %}
                           <option value="{{i['KEY']}}&&{{i['ID']}}">{{ i["NAME"] }}</option>
                          {% endfor %}
                        </select>
                  </div>
                  <div class="form-group">
                     <label>User Name</label>
                     <input type="text" class="form-control" value='masteruser' placeholder="User Name" name="username">
                  </div>
                  <div class="form-group">
                     <label>Password</label>
                     <input type="password" class="form-control" value='password' placeholder="Password" name="password">
                  </div>
                  <button type="submit" class="btn btn-black">Login</button>
                  <button type="submit" class="btn btn-secondary">Register</button>
               </form>
            </div>
         </div>
      </div>
      <script src="/static/login/login.js"></script>