.sectionContent {
  text-align: left;
  margin:20px;
  padding-left: 15px;
 
}
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }
  #myUL2 {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL2 li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myUL2 li a:hover:not(.header) {
    background-color: #eee;
  }
  .collapsible2 {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 98%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .collapsible2:hover:active {
     background-color: #d1dcec;
  }
  .content2 {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    width:98%;
  }


  #myInput {
    background-image: url('/static/image/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myUL2 {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL2 li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myUL2 li a:hover:not(.header) {
    background-color: #eee;
  }