.names_show {
    
    text-align: center;
    font-size: 16px;
   
  }

  
  .names_show:hover { font-size: 18px;}

  .names_show_static {
    
    text-align: center;
    font-size: 16px;
   
  }
  .names_show_static { font-size: 18px;}
  .show_details_modal{
    
    text-align: center;
    font-size: 16px;
   
  }
  
  .show_details_modal:hover { font-size: 18px;}